body {
    font-family: 'montserrat',sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main {
    display: flex;
    height: 100vh;
    margin: .5rem;
}
.main_contant {
    background-color:#121212;
   flex: 1;
   border-radius: 1rem;
   overflow: auto;
   padding: 0 1.5rem 0 1.5rem;
}
.sidebar{
    background-color: black;
    width: 340px;
    margin-right: .5rem;
}
.music_player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    height: 72px;
    width: 100%;
    
}
a{
    color: white;
    text-decoration: none;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   height: 100px;
   padding: 0.5rem 0.7rem;
}
.nav_option{
    line-height: 2.5rem;
    opacity: .7;
    padding: .5rem .8rem;
}
.nav_option i {
    font-size: 1.25rem;
}
.nav_option a {
    font-size: 1rem;
    margin-left: 1.2rem;
    font-weight: 500;
}
.nav_option:hover {
    opacity: 1;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: .5rem;
    padding: .5rem .8rem;
}
.option{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.library_icon img{
    height: 1.25rem;
    width: 1.25rem;
    font-weight: 600;
}
.icons{
    color: white;
    font-size: 1.25rem;
    
    display: flex;
}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    border-radius: 1rem;
    height: 8rem;
    margin: .75rem 0 .75rem 0;
    padding: 1rem 1.25rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 550;
}
.box-p2{
    font-size: .85rem;
    opacity: .9;
}
.badge{
    background-color: #fff;
    color: black;
    border-radius: 1rem;
    border: none;
    padding: 0.25rem 1rem;
    font-weight: 700;
    height: 2rem;
    margin-top: .5rem;
    width: fit-content;
}
.sticky-nav{
   position: sticky;
   top: 0;
   background-color: #121212;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0 1rem 0;
   z-index: 10;
}
.sticky-nav-icons{
    margin-left: .75rem;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 1rem;
}
.dark-badge{
    background-color: black;
    color: white;
}
@media (max-width:1000px) {
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    border-radius: 1rem;
    width: 13rem;
    padding: 1rem;
    margin: 1rem;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.card-img{
    border-radius: 1rem;
    width: 100%; 
}
.card-title{
    font-weight: 700;
}
.card-info{
    font-size: .85rem;
    opacity: .8;
}
.footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    height: 30%;
    width: 90%;
    border-top:1px solid #fff;
    opacity: .4;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon {
    height: 1.1rem;
    margin-left: 2rem;
    opacity: .7;

}
.player-control-icon:hover{
    opacity: 1;
}
.music_player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    height: 100%;
    display: flex;
     justify-content: space-around;
    align-items: center; 
}
.player{
    width: 50%;
}
.controls{
    width: 25%;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #dddddd;
    height: .2rem;
    border-radius: 100px;

}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    margin-top: -6px;
    border-radius: 50%;
}
.album-pic{
    height: 3rem;
}
.controls img{
    height: 1.3rem;
    margin-bottom: .51rem;
    opacity: .8;
}
.range {
    padding-bottom:2rem;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.range::-webkit-slider-runnable-track{
    background-color: rgba(128, 128, 128, 0.548);
    height: .5rem;
    border-radius: 100px;
}
.range::-webkit-slider-thumb{
    appearance: none;
    height: .75rem;
    width: .75rem;
    background-color:white;
    margin-top: -0.1rem;
    border-radius: 50%;
}